html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
  }
  h1{
    font-size: 2em;
    margin-left:90px;
}
h2 {
    font-size: 2rem;
}
ul{
  font-size: 1.5rem;
}

 li{
   font-size:  1.1em;
   margin-left: 90px;
   display: list-item;    
   line-height: 1.5;
  }

  
  
#searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
  }

  input[type=text] {
     width: 15%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* When the input field gets focus,
       change its width to 100% */
  input[type=text]:focus {
    width: 30%;
  }
